@{
    Layout = "~/Views/Roulet/_index.cshtml";
}


<div style="margin:10px;width:50%;margin-left:20vw">
    <form class="form-horizontal ">
        <label for="oldpwd" class="form-inline">Old Pin</label>
        <input type="password" class="form-control" name="oldpwd" id="oldpwd" />
        <label for="newpwd" class="form-inline">New Pin</label>
        <input type="password" class="form-control" name="newpwd" id="newpwd" />

        <label for="connewpwd" class="form-inline">Confirm new Pin</label>
        <input type="password" class="form-control" name="connewpwd" id="connewpwd" />
        <label for="pin" class="form-inline">Your Password</label>
        <input type="password" name="pin" id="pin" class="form-control" />

        <input type="submit" value="Change" />
    </form>
</div>