@{
 
    Newtonsoft.Json.Linq.JObject user = System.Web.Security.Authentication.UserFromCookie();
    string date = DateTime.Now.Ticks.ToString();
    int current_user_access = user.Value<int>("access_level");

    string name = String.Empty;
    string userid = string.Empty;
    if ((user != null) && (user["name"] != null))
    {

        name = user.Value<string>("name");
        userid = user.Value<string>("id");
    }
    if (current_user_access == 0)
    {
        Layout = "~/Views/Roulet/_index.cshtml";
    }
    else
    {

        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<style>

    .cmxform span.error {
        color: red;
    }
</style>

@section Styles{



}

@section Scripts{

    <script src="~/www/js/changepassword.js"></script>
}

<div style="margin:10px;width:50%;margin-left:20vw">
    <input type="hidden" value="@userid" id="userid"/>
    <form class="form-horizontal cmxform" id="form1" >
        <label for="oldpwd" class="form-inline">Old Password</label>
        <input type="password" class="form-control" name="oldpwd" id="oldpwd" />
        <label for="newpwd" class="form-inline">New Password</label>
        <input type="password" class="form-control" name="newpwd" id="newpwd" />
        <label for="connewpwd" class="form-inline">Confirm new Password</label>
        <input type="password" class="form-control" name="connewpwd" id="connewpwd" />
        <label for="pin" class="form-inline">Pin</label>
        <input type="password" name="pin" id="pin" class="form-control" />
        <input type="submit" value="Change" />
    </form>
</div>

