
@{
    Layout = null;
    Newtonsoft.Json.Linq.JObject user = Authentication.UserFromCookie();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/www/css/style.css">
</head>
<body>
    <input type="hidden" value="@{if (user["id"] != null) {@user["id"]}}" id="user_id" />
    <input type="hidden" value="07fe02e9-5ba8-4bd1-8f72-b1dd4336418c" id="game_id" />
    <input type="hidden" value="" id="hidden_bets" />
    <div class="center">
        <div class="title"></div>
        <div class="score">
            <p class="score_text" id="pointuser">0.00</p>
        </div>
        <div class="winner">
            <p class="score_text" id="win_score">0</p>
        </div>
        <div class="timer" id="timer">
            <div class="timer_text" id="timer_text">

            </div>
        </div>
        <div class="right_timer">
            <p class="last_buttons" id="last_button_1"></p>
            <p class="last_buttons" id="last_button_2"></p>
            <p class="last_buttons" id="last_button_3"></p>
            <p class="last_buttons" id="last_button_4"></p>
            <p class="last_buttons" id="last_button_5"></p>
        </div>
        <button class="take" id="takebtn">Take</button>
        <button class="bet" id="betok">Bet Ok</button>
        <button class="cancel-bet">Cancel Bet</button>
        <div class="coins_container">
            <div class="coin coin-active" id="coin1">
                <button id="coins_1" value="1"></button>
            </div>
            <div class="coin" id="coin2">
                <button id="coins_2" value="5"></button>
            </div>
            <div class="coin" id="coin3">
                <button id="coins_3" value="10"></button>
            </div>
            <div class="coin" id="coin4">
                <button id="coins_4" value="50"></button>
            </div>
            <div class="coin" id="coin5">
                <button id="coins_5" value="100"></button>
            </div>
            <div class="coin" id="coin6">
                <button id="coins_6" value="500"></button>
            </div>
            <div class="coin" id="coin7">
                <button id="coins_7" value="1000"></button>
            </div>
            <div class="coin" id="coin8">
                <button id="coins_8" value="5000"></button>
            </div>
        </div>
        <button class="cancel-specific-bet" id="cancelspecificbet">Cancel Specific Bet</button>
        <div class="perspoective">
            <div class="roulet-bg">
                <div class="roulet-wrapper">
                    <div class="roulet" id="roulet">
                    </div>
                    <div id="ballWrapper" class="ballWrapper">
                        <div id="ball" class="ball"></div>
                    </div>
                </div>
                <div class="almaz">

                </div>
            </div>

        </div>
        <div class="keyboard">
               @*<div class="bets">2</div>*@
            @*<div class="keyboard_overlay" id="keyboard_overlay"></div>*@
            <img src="~/www/img/keyped.png" usemap="#keypad" class="keypad" />
            <map name="keypad" id="keypad">

                <area href="#" shape="poly" coords="3.5,4.5,    57.5,4.5,   57.5,72,   3.5,72" id="00" />
                <area href="#" shape="poly" coords="3.5,75.5,   57.5,75.5,  57.5,143,  3.5,143" id="0" />
                <area href="#" shape="poly" coords="61.5,147,   284.5,147,  284.5,183, 61.5,183" id="one_to_twelve" />
                <area href="#" shape="poly" coords="289,147,    513,147,    513,183,   289,183" id="two_to_twelve" />
                <area href="#" shape="poly" coords="516,147,    740.5,147,  740.5,183, 516,183" id="three_to_twelve" />
                <area href="#" shape="poly" coords="86,186,     210,186,    210,222,   86,222" id="one_to_eighteen" />
                <area href="#" shape="poly" coords="214,186,    305,186,    305,220,   214,220" id="even" />
                <area href="#" shape="poly" coords="308,186,    399,186,    399,220,   308,220" id="red" />
                <area href="#" shape="poly" coords="402,186,    494,186,    494,220,   402,220" id="black" />
                <area href="#" shape="poly" coords="497,186,    587.5,186,  587.5,220, 496,220" id="add" />
                <area href="#" shape="poly" coords="591,186,    715,186,    715,220,   591,220" id="nineteen_to_thyrtysix" />

                <!-- ROW 1 -->
                <!-- 11 -->

                <area href="#" shape="poly" coords="61.7,4.5,   114.2,4.5,  114.2,48,  61.7,48" id="3" />
                <area href="#" shape="poly" coords="118.6,4.5,  171.9,4.5,  172,48,    118.6,48" id="6" />
                <area href="#" shape="poly" coords="175.8,4.5,  228.2,4.5,  229,48,    175.8,48" id="9" />
                <area href="#" shape="poly" coords="232.4,4.5,  285,4.5,    285,48,    232.4,48" id="12" />
                <area href="#" shape="poly" coords="289.7,4.5,  342,4.5,    342,48,    289.7,48" id="15">
                <area href="#" shape="poly" coords="346.7,4.5,  399,4.5,    399,48,    346.7,48" id="18" />
                <area href="#" shape="poly" coords="402.8,4.5,  455,4.5,    455,48,    402.8,48" id="21" />
                <area href="#" shape="poly" coords="460,4.5,    513,4.5,    513,48,    460,48" id="24" />
                <area href="#" shape="poly" coords="517,4.5,    569.8,4.5,  569.8,48,  517,48" id="27" />
                <area href="#" shape="poly" coords="573,4.5,    627,4.5,    627,48,    573,48" id="30" />
                <area href="#" shape="poly" coords="630.8,4.5,  683.9,4.5,  683.9,48,  630.8,48" id="33" />
                <area href="#" shape="poly" coords="688,4.5,    740.8,4.5,  740.8,48,  688,48" id="36" />
                <area href="#" shape="poly" coords="744.7,4.5,  797,4.5,    797,48,    744.7,48" id="row_1_max" />

                <!-- ROW 2 -->
                <!-- 24 -->

                <area href="#" shape="poly" coords="61.7,51.9,    114.2,51.9,   114.2,95.1,   61.7,95.1" id="2" />
                <area href="#" shape="poly" coords="118.6,51.9,   171.9,51.9,   172,95.1,     118.6,95.1" id="5" />
                <area href="#" shape="poly" coords="175.8,51.9,   228.2,51.9,   229,95.1,     175.8,95.1" id="8" />
                <area href="#" shape="poly" coords="232.4,51.9,   285,51.9,     285,95.1,     232.4,95.1" id="11" />
                <area href="#" shape="poly" coords="289.7,51.9,   342,51.9,     342,95.1,     289.7,95.1" id="14" />
                <area href="#" shape="poly" coords="346.7,51.9,   399,51.9,     399,95.1,     346.7,95.1" id="17" />
                <area href="#" shape="poly" coords="402.8,51.9,   455,51.9,     455,95.1,     402.8,95.1" id="20" />
                <area href="#" shape="poly" coords="460,51.9,     514,51.9,     513,95.1,     460,95.1" id="23" />
                <area href="#" shape="poly" coords="517,51.9,     569.8,51.9,   569.8,95.1,   517,95.1" id="26" />
                <area href="#" shape="poly" coords="573,51.9,     627,51.9,     627,95.1,     573,95.1" id="29" />
                <area href="#" shape="poly" coords="630.8,51.9,   683.9,51.9,   683.9,95.1,   630.8,95.1" id="32" />
                <area href="#" shape="poly" coords="688,51.9,     740.8,51.9,   740.8,95.1,   688,95.1" id="35" />
                <area href="#" shape="poly" coords="744.7,51.9,   797,51.9,     797,95.1,     744.7,95.1" id="row_2_max" />

                <!-- ROW 3 -->

                <area href="#" shape="poly" coords="61.7,99.7,   114.2,99.7,  114.2,143,  61.7,143" id="1" />
                <area href="#" shape="poly" coords="118.6,99.7,  171.9,99.7,  172,143,    118.6,143" id="4" />
                <area href="#" shape="poly" coords="175.8,99.7,  228.2,99.7,  229,143,    175.8,143" id="7" />
                <area href="#" shape="poly" coords="232.4,99.7,  285,99.7,    285,143,    232.4,143" id="10" />
                <area href="#" shape="poly" coords="289.7,99.7,  342,99.7,    342,143,    289.7,143" id="13" />
                <area href="#" shape="poly" coords="346.7,99.7,  399,99.7,    399,143,    346.7,143" id="16" />
                <area href="#" shape="poly" coords="402.8,99.7,  455,99.7,    455,143,    402.8,143" id="19" />
                <area href="#" shape="poly" coords="460,99.7,    513,99.7,    513,143,    460,143" id="22" />
                <area href="#" shape="poly" coords="517,99.7,    569.8,99.7,  569.8,143,  517,143" id="25" />
                <area href="#" shape="poly" coords="573,99.7,    627,99.7,    627,143,    573,143" id="28" />
                <area href="#" shape="poly" coords="630.8,99.7,  683.9,99.7,  683.9,143,  630.8,143" id="31" />
                <area href="#" shape="poly" coords="688,99.7,    740.8,99.7,  740.8,143,  688,143" id="34" />
                <area href="#" shape="poly" coords="744.7,99.7,  797,99.7,    797,143,    744.7,143" id="row_3_max" />

            </map>

            <a href="#" class="square" id="sq1" data-area1="0" data-area2="11" data-val="[-1,3]"></a>
            <a href="#" class="square" id="sq2" data-area1="11" data-area2="12" data-val="[3,6]"></a>
            <a href="#" class="square" id="sq3" data-area1="12" data-area2="13" data-val="[6,9]"></a>
            <a href="#" class="square" id="sq4" data-area1="13" data-area2="14" data-val=[9,12]></a>
            <a href="#" class="square" id="sq5" data-area1="14" data-area2="15" data-val="[12,15]"></a>
            <a href="#" class="square" id="sq6" data-area1="15" data-area2="16"data-val=[15,18]></a>
            <a href="#" class="square" id="sq7" data-area1="16" data-area2="17"data-val=[18,21]></a>
            <a href="#" class="square" id="sq8" data-area1="17" data-area2="18"data-val=[21,24]></a>
            <a href="#" class="square" id="sq9" data-area1="18" data-area2="19"data-val=[24,27]></a>
            <a href="#" class="square" id="sq10" data-area1="19" data-area2="20"data-val=[27,30]></a>
            <a href="#" class="square" id="sq11" data-area1="20" data-area2="21"data-val=[30,33]></a>
            <a href="#" class="square" id="sq12" data-area1="21" data-area2="22"data-val=[33,36]></a>

            <!-- Row 2 -->

            <a href="#" class="square" id="sq14" data-area1="24" data-area2="25" data-val="[2,5]"></a>
            <a href="#" class="square" id="sq15" data-area1="25" data-area2="26" data-val="[5,8]"></a>
            <a href="#" class="square" id="sq16" data-area1="26" data-area2="27" data-val="[8,11]"></a>
            <a href="#" class="square" id="sq17" data-area1="27" data-area2="28" data-val="[11,14]"></a>
            <a href="#" class="square" id="sq18" data-area1="28" data-area2="29" data-val="[14,17]"></a>
            <a href="#" class="square" id="sq19" data-area1="29" data-area2="30" data-val="[17,20]"></a>
            <a href="#" class="square" id="sq20" data-area1="30" data-area2="31" data-val="[20,23]"></a>
            <a href="#" class="square" id="sq21" data-area1="31" data-area2="32" data-val="[23,26]"></a>
            <a href="#" class="square" id="sq22" data-area1="32" data-area2="33" data-val="[26,29]"></a>
            <a href="#" class="square" id="sq23" data-area1="33" data-area2="34" data-val="[29,32]"></a>
            <a href="#" class="square" id="sq24" data-area1="34" data-area2="35" data-val="[32,35]"></a>


            <a href="#" class="square" id="sq26" data-area1="1" data-area2="37"></a>
            <a href="#" class="square" id="sq27" data-area1="37" data-area2="38" data-val="[1,4]"></a>
            <a href="#" class="square" id="sq28" data-area1="38" data-area2="39" data-val="[4,7]"></a>
            <a href="#" class="square" id="sq29" data-area1="39" data-area2="40" data-val="[7,10]"></a>
            <a href="#" class="square" id="sq30" data-area1="40" data-area2="41" data-val="[10,13]"></a>
            <a href="#" class="square" id="sq31" data-area1="41" data-area2="42" data-val="[13,16]"></a>
            <a href="#" class="square" id="sq32" data-area1="42" data-area2="43" data-val="[16,19]"></a>
            <a href="#" class="square" id="sq33" data-area1="43" data-area2="44" data-val="[19,22]"></a>
            <a href="#" class="square" id="sq34" data-area1="44" data-area2="45" data-val="[22,25]"></a>
            <a href="#" class="square" id="sq35" data-area1="45" data-area2="46" data-val="[25,28]"></a>
            <a href="#" class="square" id="sq36" data-area1="46" data-area2="47" data-val="[28,31]"></a>
            <a href="#" class="square" id="sq37" data-area1="47" data-area2="48" data-val="[31,34]"></a>

            <a href="#" class="cube three_square" id="c1" data-area1="0" data-area2="11" data-area3="24" data-val="[-1,3,2]"></a>
            <a href="#" class="cube four_square" id="c2" data-area1="11" data-area2="12" data-area3="24" data-area4="25"  data-val="[3,6,2,5]"></a>
            <a href="#" class="cube four_square" id="c3" data-area1="12" data-area2="13" data-area3="25" data-area4="26"  data-val="[6,9,5,8]"></a>
            <a href="#" class="cube four_square" id="c4" data-area1="13" data-area2="14" data-area3="26" data-area4="27"  data-val="[9,12,8,11]"></a>
            <a href="#" class="cube four_square" id="c5" data-area1="14" data-area2="15" data-area3="27" data-area4="28"  data-val="[12,15,11,14]"></a>
            <a href="#" class="cube four_square" id="c6" data-area1="15" data-area2="16" data-area3="28" data-area4="29"  data-val="[15,18,14,17]"></a>
            <a href="#" class="cube four_square" id="c7" data-area1="16" data-area2="17" data-area3="29" data-area4="30"  data-val="[18,21,20,23]"></a>
            <a href="#" class="cube four_square" id="c8" data-area1="17" data-area2="18" data-area3="30" data-area4="31"  data-val="[21,24,20,20]"></a>
            <a href="#" class="cube four_square" id="c9" data-area1="18" data-area2="19" data-area3="31" data-area4="32"  data-val="[24,27,23,26]"></a>   
            <a href="#" class="cube four_square" id="c10" data-area1="19" data-area2="20" data-area3="32" data-area4="33" data-val="[27,30,26,29]"></a>
            <a href="#" class="cube four_square" id="c11" data-area1="20" data-area2="21" data-area3="33" data-area4="34" data-val="[30,33,29,32]"></a>
            <a href="#" class="cube four_square" id="c12" data-area1="21" data-area2="22" data-area3="34" data-area4="35" data-val="[33,36,32,35]"></a>

            <a href="#" class="cube three_square" id="c14" data-area1="1" data-area2="24" data-area3="37" data-val="[0,2,1]"></a>
            <a href="#" class="cube four_square" id="c15" data-area1="24" data-area2="25" data-area3="37" data-area4="38" data-val="[2,5,1,4]"></a>
            <a href="#" class="cube four_square" id="c16" data-area1="25" data-area2="26" data-area3="38" data-area4="39" data-val="[5,8,4,7]"></a>
            <a href="#" class="cube four_square" id="c17" data-area1="26" data-area2="27" data-area3="39" data-area4="40" data-val="[8,11,7,10]"></a>
            <a href="#" class="cube four_square" id="c18" data-area1="27" data-area2="28" data-area3="40" data-area4="41" data-val="[11,14,10,13]"></a>
            <a href="#" class="cube four_square" id="c19" data-area1="28" data-area2="29" data-area3="41" data-area4="42" data-val="[14,17,13,16]"></a>
            <a href="#" class="cube four_square" id="c20" data-area1="29" data-area2="30" data-area3="42" data-area4="43" data-val="[17,20,16,19]"></a>
            <a href="#" class="cube four_square" id="c21" data-area1="30" data-area2="31" data-area3="43" data-area4="44" data-val="[20,23,19,22]"></a>
            <a href="#" class="cube four_square" id="c22" data-area1="31" data-area2="32" data-area3="44" data-area4="45" data-val="[23,26,22,25]"></a>
            <a href="#" class="cube four_square" id="c23" data-area1="32" data-area2="33" data-area3="45" data-area4="46" data-val="[26,29,25,28]"></a>
            <a href="#" class="cube four_square" id="c24" data-area1="33" data-area2="34" data-area3="46" data-area4="47" data-val="[29,32,28,31]"></a>
            <a href="#" class="cube four_square" id="c25" data-area1="34" data-area2="35" data-area3="47" data-area4="48" data-val="[32,35,31,34]"></a>
            <a href="#" class="cube three_square" id="c27" data-area1="0" data-area2="1" data-area3="24" data-val="[-1,0,2]"></a>

            <a href="#" class="group-cube" id="c28" data-area="0,1,11,24,37"></a>
            <a href="#" class="group-cube" id="cg29" data-area="11,24,37,12,25,38" data-val="[1,2,3,4,5,6]"></a>
            <a href="#" class="group-cube" id="cg31" data-area="12,13,25,26,38,39" data-val="[4,5,6,7,8,9]"></a>
            <a href="#" class="group-cube" id="cg32" data-area="13,14,26,27,39,40" data-val="[7,8,9,10,11,12]"></a>
            <a href="#" class="group-cube" id="cg33" data-area="14,15,27,28,40,41" data-val="[10,11,12,13,14,15]"></a>
            <a href="#" class="group-cube" id="cg34" data-area="15,16,28,29,41,42" data-val="[13,14,15,16,17,18]"></a>
            <a href="#" class="group-cube" id="cg35" data-area="16,17,29,30,42,43" data-val="[16,17,18,19,20,21]"></a>
            <a href="#" class="group-cube" id="cg36" data-area="17,18,30,31,43,44" data-val="[19,20,21,22,23,24]"></a>
            <a href="#" class="group-cube" id="cg37" data-area="18,19,31,32,44,45" data-val="[22,23,24,25,26,27]"></a>
            <a href="#" class="group-cube" id="cg38" data-area="19,20,32,33,45,46" data-val="[25,26,27,28,29,30]"></a>
            <a href="#" class="group-cube" id="cg39" data-area="20,21,33,34,46,47" data-val="[28,29,30,31,32,33]"></a>
            <a href="#" class="group-cube" id="cg40" data-area="21,22,34,35,47,48" data-val="[31,32,33,34,35,36]"></a>

            <buttom class="keypad-button number" style="left: 60px; top: 4px; background: url(/img/3.png) center center no-repeat; background-size: 53px;" data-id="3"></buttom>
            <buttom class="keypad-button number" style="left: 117px; top: 4px; background: url(/img/6.png) center center no-repeat; background-size: 53px;" data-id="6"></buttom>
            <buttom class="keypad-button number" style="left: 174px; top: 4px; background: url(/img/9.png) center center no-repeat; background-size: 53px;" data-id="9"></buttom>
            <buttom class="keypad-button number" style="left: 231px; top: 4px; background: url(/img/12.png) center center no-repeat; background-size: 53px;" data-id="12"></buttom>
            <buttom class="keypad-button number" style="left: 288px; top: 4px; background: url(/img/15.png) center center no-repeat; background-size: 53px;" data-id="15"></buttom>
            <buttom class="keypad-button number" style="left: 345px; top: 4px; background: url(/img/18.png) center center no-repeat; background-size: 53px;" data-id="18"></buttom>
            <buttom class="keypad-button number" style="left: 402px; top: 4px; background: url(/img/21.png) center center no-repeat; background-size: 53px;" data-id="21"></buttom>
            <buttom class="keypad-button number" style="left: 459px; top: 4px; background: url(/img/24.png) center center no-repeat; background-size: 53px;" data-id="24"></buttom>
            <buttom class="keypad-button number" style="left: 516px; top: 4px; background: url(/img/27.png) center center no-repeat; background-size: 53px;" data-id="27"></buttom>
            <buttom class="keypad-button number" style="left: 573px; top: 4px; background: url(/img/30.png) center center no-repeat; background-size: 53px;" data-id="30"></buttom>
            <buttom class="keypad-button number" style="left: 630px; top: 4px; background: url(/img/33.png) center center no-repeat; background-size: 53px;" data-id="33"></buttom>
            <buttom class="keypad-button number" style="left: 687px; top: 4px; background: url(/img/36.png) center center no-repeat; background-size: 53px;" data-id="36"></buttom>

            <buttom class="keypad-button number" style="left: 60px; top: 51px; background: url(/img/2.png) center center no-repeat; background-size: 53px;" data-id="2"></buttom>
            <buttom class="keypad-button number" style="left: 117px; top: 51px; background: url(/img/5.png) center center no-repeat; background-size: 53px;" data-id="5"></buttom>
            <buttom class="keypad-button number" style="left: 174px; top: 51px; background: url(/img/8.png) center center no-repeat; background-size: 53px;" data-id="8"></buttom>
            <buttom class="keypad-button number" style="left: 231px; top: 51px; background: url(/img/11.png) center center no-repeat; background-size: 53px;" data-id="11"></buttom>
            <buttom class="keypad-button number" style="left: 288px; top: 51px; background: url(/img/14.png) center center no-repeat; background-size: 53px;" data-id="14"></buttom>
            <buttom class="keypad-button number" style="left: 345px; top: 51px; background: url(/img/17.png) center center no-repeat; background-size: 53px;" data-id="17"></buttom>
            <buttom class="keypad-button number" style="left: 402px; top: 51px; background: url(/img/20.png) center center no-repeat; background-size: 53px;" data-id="20"></buttom>
            <buttom class="keypad-button number" style="left: 459px; top: 51px; background: url(/img/23.png) center center no-repeat; background-size: 53px;" data-id="23"></buttom>
            <buttom class="keypad-button number" style="left: 516px; top: 51px; background: url(/img/26.png) center center no-repeat; background-size: 53px;" data-id="26"></buttom>
            <buttom class="keypad-button number" style="left: 573px; top: 51px; background: url(/img/29.png) center center no-repeat; background-size: 53px;" data-id="29"></buttom>
            <buttom class="keypad-button number" style="left: 630px; top: 51px; background: url(/img/32.png) center center no-repeat; background-size: 53px;" data-id="32"></buttom>
            <buttom class="keypad-button number" style="left: 687px; top: 51px; background: url(/img/35.png) center center no-repeat; background-size: 53px;" data-id="35"></buttom>

            <buttom class="keypad-button number" style="left: 60px; top: 98px; background: url(/img/1.png) center center no-repeat; background-size: 53px;" data-id="1"></buttom>
            <buttom class="keypad-button number" style="left: 117px; top: 98px; background: url(/img/4.png) center center no-repeat; background-size: 53px;" data-id="4"></buttom>
            <buttom class="keypad-button number" style="left: 174px; top: 98px; background: url(/img/7.png) center center no-repeat; background-size: 53px;" data-id="7"></buttom>
            <buttom class="keypad-button number" style="left: 231px; top: 98px; background: url(/img/10.png) center center no-repeat; background-size: 53px;" data-id="10"></buttom>
            <buttom class="keypad-button number" style="left: 288px; top: 98px; background: url(/img/13.png) center center no-repeat; background-size: 53px;" data-id="13"></buttom>
            <buttom class="keypad-button number" style="left: 345px; top: 98px; background: url(/img/16.png) center center no-repeat; background-size: 53px;" data-id="16"></buttom>
            <buttom class="keypad-button number" style="left: 402px; top: 98px; background: url(/img/19.png) center center no-repeat; background-size: 53px;" data-id="19"></buttom>
            <buttom class="keypad-button number" style="left: 459px; top: 98px; background: url(/img/22.png) center center no-repeat; background-size: 53px;" data-id="22"></buttom>
            <buttom class="keypad-button number" style="left: 516px; top: 98px; background: url(/img/25.png) center center no-repeat; background-size: 53px;" data-id="25"></buttom>
            <buttom class="keypad-button number" style="left: 573px; top: 98px; background: url(/img/28.png) center center no-repeat; background-size: 53px;" data-id="28"></buttom>
            <buttom class="keypad-button number" style="left: 630px; top: 98px; background: url(/img/31.png) center center no-repeat; background-size: 53px;" data-id="31"></buttom>
            <buttom class="keypad-button number" style="left: 687px; top: 98px; background: url(/img/34.png) center center no-repeat; background-size: 53px;" data-id="34"></buttom>

            <buttom class="keypad-button number" style="left: 3px; top: 15px; background: url(/img/37.png) center center no-repeat; background-size: 53px;" data-id="00"></buttom>
            <buttom class="keypad-button number" style="left: 3px; top: 88px; background: url(/img/0.png) center center no-repeat; background-size: 53px;" data-id="0"></buttom>

            <buttom class="keypad-button number not-button betthreesare" style="right: 3px; top: 4px; background: url(/img/2to1.png) center center no-repeat; background-size: 50px;" data-id="row_1_max" data-val="[3,6,9,12,15,18,21,24,27,30,33,36]"></buttom>
            <buttom class="keypad-button number not-button betthreesare" style="right: 3px; top: 51px; background: url(/img/2to1.png) center center no-repeat; background-size: 50px;" data-id="row_2_max" data-val="[2,5,8,11,14,17,20,23,26,29,32,35]"></buttom>
            <buttom class="keypad-button number not-button betthreesare" style="right: 3px; top: 98px; background: url(/img/2to1.png) center center no-repeat; background-size: 50px;" data-id="row_3_max" data-val="[1,4,7,10,13,16,19,22,25,28,31,34]"></buttom>

            <buttom class="keypad-button group-number not-button betthreesare" style="left: 60px; top: 147px; background: url(/img/1to12.png) center center no-repeat; background-size: 153px;" data-id="one_to_twelve"  data-val="[1,2,3,4,5,6,7,8,9,10,11,12]"></buttom>
            <buttom class="keypad-button group-number not-button betthreesare"  style="left: 290px; top: 147px; background: url(/img/2to12.png) center center no-repeat; background-size: 153px;" data-id="two_to_twelve" data-val="[13,14,15,16,17,18,19,20,21,22,23,24]"></buttom>
            <buttom class="keypad-button group-number not-button betthreesare" style="left: 520px; top: 147px; background: url(/img/3to12.png) center center no-repeat; background-size: 153px;" data-id="three_to_twelve" data-val="[25,26,27,28,29,30,31,32,33,34,35,36]"></buttom>

            <buttom class="keypad-button group-small not-button bettwosare" style="left: 87px; top: 187px; background: url(/img/1to18.png) center center no-repeat; background-size: 145px;" data-id="one_to_eighteen" data-val="[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]"></buttom>
            <buttom class="keypad-button group-small not-button bettwosare" style="right: 87px; top: 187px; background: url(/img/19to36.png) center center no-repeat; background-size: 145px;" data-id="nineteen_to_thyrtysix" data-val="[19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36]"></buttom>

            <buttom class="keypad-button button-category not-button even" style="left: 214px; top: 187px; background: url(/img/even.png) center center no-repeat; background-size: 100px;" data-id="even" data-val="[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]"></buttom>
            <buttom class="keypad-button button-category not-button odd" style="right: 214px; top: 187px; background: url(/img/add.png) center center no-repeat; background-size: 100px;" data-id="add" data-val="[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35]"></buttom>

            <buttom class="keypad-button button-category not-button red" style="left: 309.6px; top: 187px; background: url(/img/red.png) center center no-repeat; background-size: 100px;" data-id="red" data-val="[1,3,5,7,9,12,14,16,18,19,21,23,25,27,30,32,34,36]"></buttom>
            <buttom class="keypad-button button-category not-button black" style="right: 309.6px; top: 187px; background: url(/img/black.png) center center no-repeat; background-size: 100px;" data-id="black" data-val="[2,4,6,8,10,11,13,15,17,20,22,24,26,28,29,31,33,35]"></buttom>

        </div>
      
        <div class="betguideback"></div>
        <div class="betguide" id="Bet_Guide"></div>

       
        <div class="bottom_row">
            <button class="total_bet"></button>
            <button class="exit">Exit</button>
        </div>
    </div>

    <script src="~/www/js/jquery-1.9.1.min.js"></script>
    <script src="~/www/js/jquery-rotate.js"></script>
    <script src="~/www/js/jquery.maphilight.js"></script>
    <script src="~/www/js/roulette.js"> </script>

    
</body>
</html>