@{
    Layout = null;

    Newtonsoft.Json.Linq.JObject user = System.Web.Security.Authentication.UserFromCookie();

    string name = String.Empty;
    string userid = string.Empty;
    if((user != null) && (user["name"] != null)) {

        name = user.Value<string>("name");
        userid = user.Value<string>("id");
    }


}
<!DOCTYPE html>
<html lang="en"  class="home-body">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/www/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/www/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <div class="row">
                    <div class="col-md-1">
                       <a href="/roulet/index" class="logo">
                           <img src="~/www/i/logo-default.png" alt="Alternate Text" />
                       </a>
                    </div>
                    <div class="col-md-10">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a href="#">About us</a></li>
                            <li class="nav-item"><a href="#">Manage My Points</a></li>
                            <li class="nav-item"><a href="#">Change Password</a></li>
                            <li class="nav-item"><a href="#">Games</a></li>

                        </ul>
                    </div>
                    <div class="col-md-1 profile-column">
                        <div class="avatar">
                            <img src="~/www/i/photo1.jpg" alt="Alternate Text" />
                        </div>
                        <a href="/roulet/profile/@{@userid;}" class="profile">
                            @name
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="center">
        <h1>Games</h1>
        <div class="games-wrapper">
             <div class="game-item">
                 <img  src="~/img/roulet.jpg"/>
                 <a href="/roulet/game">Roulet</a>
             </div>
        </div>
    </div>
</body>
</html>