

@{
    Layout = "~/Views/Roulet/_index.cshtml";
}


<div class="center">
    <h1>Games</h1>
    <div class="games-wrapper">
        <div class="game-item">
            <img src="~/img/roulet.jpg" />
            <a href="/roulet/game">Roulet</a>
        </div>
    </div>
</div>