@{
    Layout = "~/Views/Roulet/_index.cshtml";
    Newtonsoft.Json.Linq.JObject user = System.Web.Security.Authentication.UserFromCookie();
    string date = DateTime.Now.Ticks.ToString();

    string name = String.Empty;
    string userid = string.Empty;
    if ((user != null) && (user["name"] != null))
    {

        name = user.Value<string>("name");
        userid = user.Value<string>("id");
    }
}

@section Styles{

        <link rel="stylesheet" href="~/www/css/managemypoints.css">

}
<div class="">
    <input type="hidden" id="userid" value="@userid" />
    <label   >Current Balance:</label>
    <label id="pointbalance" name="pointbalance" ></label>
  
    <div class="solidborder">
     <div class="headingtop"><span class="subheading">Manage My Points</span> </div>  
        <div class="table-container" >

            <div class="myheading">
                <div class="tablesubheading">
                    <span>Receivables</span>
                    <button style="float:right"><i class="fa fa-refresh"></i></button>
                </div>
                <div style="border:1px solid #DDDDDD">
                    <table class="table table-striped table-bordered table-hover table-checkable" id="Receivables">
                        <thead>

                            <tr role="row" class="heading">
                                <th width="20vw"> Select</th>
                                <th width="20vw">From MemberID</th>
                                <th width="20vw">Amount</th>
                               

                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="table-footer">
                    <input type="checkbox" />
                    <span>Select All</span>
                    <button style="float:right" class="btn btn-default btn-primary">Receive</button>
                    <button style="float:right" class="btn btn-primary">Reject</button>

                </div>
            </div>
           
            <div class="myheading">
                <div class="tablesubheading">

                    <span>Transferables</span>
                    <button style="float:right" id="tRefresh"><i class="fa fa-refresh"></i></button>
                </div>
                <div style="border:1px solid #DDDDDD">
                    <table class="table table-striped table-bordered table-hover table-checkable" id="transferables">
                        <thead>

                            <tr role="row" class="heading">
                                <th width="20vw"> Select</th>
                                <th width="20vw">From MemberID</th>
                                <th width="20vw">Amount</th>
                                

                            </tr>
                        </thead>

                    </table>
                </div>
                <div class="table-footer">
                    <input type="checkbox" id="selectallT"/>
                    <span>Select All</span>
                    <button style="float:right" class="btn btn-primary" id="cancelTransfer">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    <div class="solidborder">
        <div class="headingtop"><span class="subheading">Point Transfer</span> </div>
        <div class="table-container" >

            <div class="">
                <form class="cmxform" id="form1">
                    <div class="">
                        <label for="toaccountno" class="control-label visible-ie8 visible-ie9" >To Account No</label>
                        <input type="text" name="toaccountno" id="toaccountno" autocomplete="off" class="form-control form-control-solid placeholder-no-fix" required/>
                    </div>
                    <div class="">
                        <label for="pin" class="control-label visible-ie8 visible-ie9" >Your Pin</label>
                        <input type="password" autocomplete="off" name="pin" id="pin" class="form-control form-control-solid placeholder-no-fix" required/>
                    </div>
                    <div class="">
                        <label for="amount" class="control-label visible-ie8 visible-ie9">Amount</label>
                        <input type="text" name="amount" id="amount" class="form-control form-control-solid placeholder-no-fix" required/>
                    </div>
                    <div class="centerbtn">
                        <button type="submit" class="btn btn-primary" id="transfer">Transfer</button>
                        <button class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript" src="~/www/js/managemypoints.js"></script>
    <script src="~/www/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/www/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
}