@{
    ViewBag.Title = "Pin And Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Styles{

   

}

@section Scripts{

    <script src="~/www/js/changepinpassword.js"></script>
   
}


<div class="page-content">
    <div class="myheading">
        <div class="tablesubheading">

            <button id="changepinpwd" class="btn btn-primary">Change pin password</button>
           
            <button  id="resetmemberId" class="btn btn-primary">Reset Member Id</button>
        </div>
        <div >
            <table class="table table-striped table-bordered table-hover table-checkable" id="transferables">
                <thead>

                    <tr role="row" class="heading">
                        <th width="20vw">Member Id</th>
                        <th width="20vw">Required</th>
                        <th width="20vw">Reset Status</th>


                    </tr>
                </thead>

            </table>
        </div>
        <div class="table-footer">
            <div class="row">
                <div class="col-lg-6">

                    <select id="">
                        <option value="mercedes">Mercedes</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary" id="addDetails">Add Details</button>
                </div>
                
            </div>
            

        </div>
    </div>



</div>